# Basics 
- operators 
- variables 
- datatypes 
- keywords
- io

In [2]:
2+2

4

In [3]:
2374658574643+574636575858

2949295150501

arithmetic operator 
* / // ** %
+ -
assigment

In [4]:
2354*20

47080

In [5]:
10/3

3.3333333333333335

In [6]:
10//3

3

In [7]:
10**3

1000

In [8]:
157**5

95388992557

assignment operator
= += -= *= /= //= %= **=

In [4]:
x = 101
y = 2.3910
z = False
a = None

In [10]:
x = 5 # direct assignment
x += 10 # update assignment
x -= 2
x *= 3
name = "Tamanna Gautam"
name +="üëç"

In [11]:
a = 12
b = 13
c = a + b

Conditional operators 
<
<=
>
>=
==
|=

In [12]:
a > 10

True

In [13]:
a < a-5

False

In [ ]:
a = 10

In [14]:
a > 10

True

In [15]:
a<12

False

In [17]:
a < b > 10

True

In [18]:
b= 3

In [19]:
a < b > 10

False

In [20]:
a < b < 10

False

Logical operators 
and 
or  
not

In [23]:
a = 10
b = 20 
a < b and b < 30

True

In [3]:
print(a < b and b < 30)
print(a > b or b > 20)
print(not a > b)

NameError: name 'a' is not defined

In [2]:
fruits = ['apple','banana','cheery']
print('apple' in fruits)
print('orange' in fruits)
print('orange' not in fruits)
print('banana' not in fruits)

True
False
True
False

In [1]:
x = 20 
y = x
print(x,y)
print(x == y)# value equality
print(x is y) #reference equality

20 20
True
True

In [28]:
x =[1,2,3]
y=x #reference copy 
z= x.copy()# value copy 
print(x is y)
print(x is z)
print(x==z)
print(x ==y)

True
False
True
True

Datatypes(9)
- integers 'int'
- float 'float'
- boolean 'bool'
- None ' NoneType'
- string ' str'
- list 'list'
- tuple 'tuple'
- set  ' set'
- dictionary 'dict'

In [5]:
coords = (10, 20, 32)
names ={'Alex',"Alan","Alice","Arti"}
info ={'name':'Tamanna','age':20,'city': 'Kuala Lumpur'}

In [4]:
del x # delete the x from the memory