    ###list
   -create
   -indexing and slicing 
   -methods
      -append()
      -insert()
      -extend()
      -remove()
      -pop()
      -clear()
      -count()
      -reverse()
      -sort()
      -index()
      -copy()
  -comprehension

In [6]:
a =[1,2,3]
print(a,type(a))
names=['Alice','Bob','Charlie']
print(names,type(names))
data = ['apple',50,'mango',100,'orange',70]
nested_list = [[1,2,3],[4,5,6],[7,8]]
print(data)
print(nested_list)
duplicated_list = [1] *10
print(duplicated_list)
print(list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['Alice', 'Bob', 'Charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [7]:
n = [11,12,13,14,15,16,17,18,19,20]
print('first five =',n[:5])
print('last five =',n[-5:])
print('last element =',n[-1])
print('first element =',n[0])
print('except first 2 and last 2 =',n[2:-2])
print('reverse list =',n[::-1])
print('all even indexes=',n[::2])
print('all odd indexes=',n[1::2])
print('reverse first five=',n[4::-1])
print('reverse with 1 gap=',n[4::-2])
print('reverse with 1 gap=',n[::-2])

first five = [11, 12, 13, 14, 15]
last five = [16, 17, 18, 19, 20]
last element = 20
first element = 11
except first 2 and last 2 = [13, 14, 15, 16, 17, 18]
reverse list = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all even indexes= [11, 13, 15, 17, 19]
all odd indexes= [12, 14, 16, 18, 20]
reverse first five= [15, 14, 13, 12, 11]
reverse with 1 gap= [15, 13, 11]
reverse with 1 gap= [20, 18, 16, 14, 12]

In [8]:
#list is mutable
n[5] = 100 #update
print(n)
n[0] = 200
print(n)

[11, 12, 13, 14, 15, 100, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]

In [9]:
movies = []
print(type(movies))
print(len(movies))
movies.append("Star wars")
movies.append("Harry  Plotter")
movies.append("The core")
movies.append("Bullet Train")
movies.append("Jumanji")
print(movies)
print(len(movies))

<class 'list'>
0
['Star wars', 'Harry  Plotter', 'The core', 'Bullet Train', 'Jumanji']
5

In [10]:
ff = ["fast and furious",'2 fast 2 furious','fast and furious:Tokyo drift', 'fast 5']
ff.append("Fast and furious 6")
print(ff)
ff.insert(3,'fast and furious 4')
print(ff)

['fast and furious', '2 fast 2 furious', 'fast and furious:Tokyo drift', 'fast 5', 'Fast and furious 6']
['fast and furious', '2 fast 2 furious', 'fast and furious:Tokyo drift', 'fast and furious 4', 'fast 5', 'Fast and furious 6']

In [11]:
n = [1,2,3,6,7,8,9]
n.insert(3,4)# on 3rd index, insert value = 4
print(n)
n.insert(4,5) # on 5th index , insert value = 5
print(n)
n.insert(100,5)# invalid index, so it will insert at the end
print(n)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [12]:
# adding a list in a another list
l1 = [1,2,3]
l2 =[4,5,6]
l3 =[7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5,5])
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5, 5]

10 july - 24

In [13]:
n.remove(3) # search where is 3 and remove it 
print(n)
n.remove(5) # remove first 5 
print(n)

[1, 2, 4, 5, 6, 7, 8, 9, 5]
[1, 2, 4, 6, 7, 8, 9, 5]

In [14]:
movies.remove('The core')
print(movies)

['Star wars', 'Harry  Plotter', 'Bullet Train', 'Jumanji']

In [15]:
n.pop(3)

6

In [16]:
print(n)

[1, 2, 4, 7, 8, 9, 5]

In [17]:
n.pop() # remove last element

5

In [19]:
movies.pop()
print(movies)

['Star wars', 'Harry  Plotter']

In [20]:
n.clear()
print(n)
movies.clear()
print(movies)

[]
[]

In [21]:
x = [1,2,3 ,1,1,1,2,2,2,1,2,1,3,2]
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.count(4))

6
6
2
0

In [22]:
y = [ 1,2,3,4,5]
y.reverse( )# or y[::-1]
print(y)

[5, 4, 3, 2, 1]

In [25]:
names = ['Vijay','Salman','Rahul','Akbar']
names.sort()
print(names)
names.sort(reverse = True)
print(names)

['Akbar', 'Rahul', 'Salman', 'Vijay']
['Vijay', 'Salman', 'Rahul', 'Akbar']

In [26]:
heroes = ['Goku','naruto','luffy','Inchigo','natsu','MMeliodas']
print(heroes)
luffy_idx = heroes.index('luffy')
print(luffy_idx)

['Goku', 'naruto', 'luffy', 'Inchigo', 'natsu', 'MMeliodas']
2

In [28]:
x = [1,2,3]
y = x  # y is a reference to x
z = x.copy()  # z is a shallow copy of x
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]
True
False

comprehension

In [29]:
x = [1,2,3,4,5]
x2= []
for i in x :
    s = i**2
    x2.append(s)
    print(x2)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [30]:
# comprehension
x2 =[i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [36]:
a = [1,2,3,4,5,6,7,8,9,10]
a2 =[i-10 for i in a]
print(a)
print(a2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [37]:
x = [ 15,3,12,11,6,7]
xeven2 = [i**2 for i in x if i % 2==0]
print(xeven2)

[144, 36]

In [52]:
x = [ 15,3,12,11,6,7]
xodd = [i**2 for i in x  if i % 2 !=0]
print(xodd)

[225, 9, 121, 49]

In [42]:
a = [65,68,59,70,80]
b = [ chr(i) for i in a]
print(a)
print(b)

[65, 68, 59, 70, 80]
['A', 'D', ';', 'F', 'P']

In [45]:
crap_list = ['A',1,2,3,'B','C','D',4,5,5,1,1,2,5,6]
clean_list = [ i for i in crap_list if isinstance(i,int)]
print(crap_list)
print(clean_list)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 5, 1, 1, 2, 5, 6]
[1, 2, 3, 4, 5, 5, 1, 1, 2, 5, 6]

In [46]:
crap_list = ['A',1,2,3,'B','C','D',4,5,5,1,1,2,5,6]
clean_list = [ i for i in crap_list if isinstance(i,str)]
print(crap_list)
print(clean_list)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 5, 1, 1, 2, 5, 6]
['A', 'B', 'C', 'D']

In [48]:
# make all the input to a int list 
nums = [int(n) for n in input().split()]
print(nums)

[123, 23, 34]

# Tuple

In [49]:
a = (1,2,3,4,5)
print(a,type(a))
b = 1,2,3,4
print(b, type(b))
# single element tuple 
c = (1,)
print(c)
d = (1,) * 5 # tuple duplication
print(d)
e = tuple([1,2,3,4,5])
print(e, tuple(e))

(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(1,)
(1, 1, 1, 1, 1)
(1, 2, 3, 4, 5) (1, 2, 3, 4, 5)

In [51]:
print(a[0])
print(a[1])
print(a[-1])
print(a[:3])
print(a[3:])

1
2
5
(1, 2, 3)
(4, 5)

In [1]:
x = (1,1,1,1,3,4,5,6,6)
print(x.count(1))
print(x.count(10))
print(x.index(4)) # find index of 4

4
0
5

## tuple unpacking

In [2]:
x = ('apple',100)
print(x)

('apple', 100)

In [3]:
item , price = x
print(item,price)

apple 100

In [4]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [7]:
one_tuple = (1,2,3,4,5,6,7,8,9,10)
a,b,c,d,e,f,g,h,i,j= one_tuple 
print(a,b,c,d,e,f,g,h,i,j)

1 2 3 4 5 6 7 8 9 10

In [ ]:
# error - not enough values to unpack
a,b,c =x

In [8]:
# * - unpacking operator
one_tuple =(1,2,3,4,5,6,7,8,9,10)
a,b,*c = one_tuple
print(a,b,c)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
a,*b = one_tuple
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
*a,b = one_tuple
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [12]:
one,*middle,last = one_tuple
print(one)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [15]:
# trick using * for displaying data in print
print(one_tuple)

print(*one_tuple) # work with any

print(*one_tuple, sep='\n')

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1
2
3
4
5
6
7
8
9
10

In [16]:
for i in one_tuple:
    print(i)

1
2
3
4
5
6
7
8
9
10