## set
- create
- method

In [23]:
x = set() # empty 
print(x)
y = {1,2,3,4,5,6,1,2}
print(y)
fruits = {"apple","banana","cherry"}
print(fruits)
data = {"apple",205,3.14,"banana "}
print(data)
a = set([1,2,3,4,5,6,7,8,9,10])
b = set ("harry potter")
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6}
{'banana', 'apple', 'cherry'}
{205, 3.14, 'apple', 'banana '}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'h', ' ', 't', 'r', 'y', 'o', 'a', 'e', 'p'}

In [24]:
a = set()
a.add("The final empire")
a.add("The hero of ages")
a.add("The well of ascension")
print(a)

{'The hero of ages', 'The well of ascension', 'The final empire'}

In [25]:
a.update(['AppleSeed','ApplePie','AppleCider'])
print(a)

{'AppleCider', 'ApplePie', 'The final empire', 'The hero of ages', 'The well of ascension', 'AppleSeed'}

In [26]:
a.add("AppleSeed") # not added
print(a) # no duplicate

{'AppleCider', 'ApplePie', 'The final empire', 'The hero of ages', 'The well of ascension', 'AppleSeed'}

In [27]:
# for value remove
a.discard("AppleSeed")
a.discard("ApplePie") # no error
a.discard("AppleSeed")
print(a)

{'AppleCider', 'The final empire', 'The hero of ages', 'The well of ascension'}

In [28]:
a = {1,2,3}
b = {3,4,5}
c = {6,7,8}
print(a.union(b))

ab = a.union(b)
print(ab)

print(a.union(b,c))

print(a| b|c ) # | is union

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
print(a.intersection(b))
print(a & b) # & is intersection
print(a & c)
print(a & b & c)

{3}
{3}
set()
set()

In [30]:
print(a.difference(b))
print(b.difference(a))
print(a-b) # - is difference

{1, 2}
{4, 5}
{1, 2}

In [31]:
print(a.symmetric_difference(b))
print(a^b) # ^ is symmetric difference

{1, 2, 4, 5}
{1, 2, 4, 5}

## Dictionary

In [32]:
# creation 
data = ["alex", True , False ,29,"New York", "Photographer"]
datadict = {
    'name': 'Alex',
    'isMarried' : True,
    'hasChildren': False,
    'age' : 29,
    'city' : 'New York',
    'profession' : 'Photographer'
}
print(datadict)

movies = {} # empty dictionary

expenditure =dict(
    food = 500,
    rent = 1700,
    insurance = 200,
)

print(expenditure)

{'name': 'Alex', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}
{'food': 500, 'rent': 1700, 'insurance': 200}

- creatiing
- accessing
- add or update
- remove
- traversal

In [33]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
# print(datadict['state']) # keyError

Alex
True
New York

In [34]:
print(datadict.get('city'))
print(datadict.get('City')) # City is not in the dictionary 
print(datadict.get('age',100)) 
print(datadict.get('AGE' ,100))# AGE is not in the dictionary

New York
None
29
100

In [35]:
movies ['deadpool and Wolverine'] = 'Shawn Levy'
movies ['BahuBali'] = 'SS Rajamouli'
movies ['Inception'] = 'Christopher Nolan'
print(movies)

{'deadpool and Wolverine': 'Shawn Levy', 'BahuBali': 'SS Rajamouli', 'Inception': 'Christopher Nolan'}

In [36]:
movies.update(
    {
        'The dark Knight' : 'Christopher Nolan',
        'The Prestige' : 'Christopher Nolan',
        'The Matrix' : 'Wachowski Brothers',
    }
)
print(movies)

{'deadpool and Wolverine': 'Shawn Levy', 'BahuBali': 'SS Rajamouli', 'Inception': 'Christopher Nolan', 'The dark Knight': 'Christopher Nolan', 'The Prestige': 'Christopher Nolan', 'The Matrix': 'Wachowski Brothers'}

In [37]:
datadict['name'] = 'Alexander'
print(datadict)

{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}

In [39]:
# remove 
movies.pop("BahuBali")

'SS Rajamouli'

In [40]:
movies

{'deadpool and Wolverine': 'Shawn Levy',
 'Inception': 'Christopher Nolan',
 'The dark Knight': 'Christopher Nolan',
 'The Prestige': 'Christopher Nolan',
 'The Matrix': 'Wachowski Brothers'}

for loop in dict will iterate over keys

In [41]:
for item in datadict:
    print(item)

name
isMarried
hasChildren
age
city
profession

In [42]:
for item in datadict:
    print(datadict[item])

Alexander
True
False
29
New York
Photographer

In [44]:
for k,v in datadict.items():
    print(k,v)

name Alexander
isMarried True
hasChildren False
age 29
city New York
profession Photographer

In [45]:
movies.keys()

dict_keys(['deadpool and Wolverine', 'Inception', 'The dark Knight', 'The Prestige', 'The Matrix'])

In [46]:
movies.values()

dict_values(['Shawn Levy', 'Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan', 'Wachowski Brothers'])

nested dictionary

In [48]:
report = {
    '01' : {
        'name' :  "Alex",
        'subjects' : {
            'maths' : 89,
            'science' : 85,
            'english' : 95
        }
    },
    '02' : {
        'name' : "John",
        'subjects' : {
            'maths' : 80,
            'science' : 75,
            'english' : 85
        }
    },
}

In [49]:
report['02']['subjects']['english']

85

In [50]:
from pprint import pp

In [51]:
pp(report)

{'01': {'name': 'Alex',
        'subjects': {'maths': 89, 'science': 75, 'english': 95}},
 '02': {'name': 'John',
        'subjects': {'maths': 80, 'science': 75, 'english': 85}}}

In [52]:
rainfall_data = {
    'year' : [2019, 2020, 2021, 2022, 2023],
    'rainfall' : [100, 200, 150, 300, 250]

}
print(rainfall_data)

{'year': [2019, 2020, 2021, 2022, 2023], 'rainfall': [100, 200, 150, 300, 250]}