## strings 
- creation
- indexing and slicing
- methods

In [19]:
# string quoted
a = 'apple'
print(type(a))

<class 'str'>

In [ ]:
# double quoted 
b = "big apple"
print(type(b))

In [1]:
# triple quoted(in multiple lines)
c = '''this is a string
and its in triple quotes'''
print(type(c))

<class 'str'>

In [2]:
d = str(129300)
print(type(d))

<class 'str'>

types of string
-byte b'hello'
- raw r'hello'
- format f'hello{a}'

In [32]:
print(b'this is a byte string')
print(r'this is \n\n\n a byte string')
print(f'{a} is a value')

b'this is a byte string'
this is \n\n\n a byte string
apple is a value

##indexing
- -5-4-3-2-1
- a p p l e
- 0 1 2 3 4

In [2]:
word ='greek'
print(word[0])
print(word[1])
print(word[2])
print(word[-2])
print(word[-1])

g
r
e
e
k

In [3]:
msg = "Journey before destination"
print(msg[15])
print(msg[-6])

d
n

'''
sequence[start : stop]
'''

In [4]:
print(msg[0:7])

Journey

In [5]:
print(msg[8:14])

before

In [8]:
print(msg[15:26])

destination

In [9]:
print(msg[15:])

destination

In [10]:
print(msg[3:])

rney before destination

In [12]:
print(msg[:3])

Jou

In [11]:
name = 'Vijay Deenanath Chauhan'
firstname = name[0:5]
middlename = name[6:15]
lastname = name[15:]
print(firstname)
print(middlename)
print(lastname)

Vijay
Deenanath
 Chauhan

In [15]:
#reverse
print(name[::-1])

#step
print(name[::2])
print(name[1::2])

#except starting 5 and last 5 
print(name[5:-5])

nahuahC htananeeD yajiV
VjyDeaahCahn
ia ennt hua
 Deenanath Ch

In [17]:
x ="$5599.25 only "
y = x[1:9]
print(float(y))

5599.25

# string methods 
- formatting
    -upper()
    -lower()
    -capitalize()
    -title()
    -swapcase()
    -casefold()
    -center()
    -ljust()
    -rjust
- validation
- utility

In [26]:
msg = 'Life is Beautiful'
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold())
print(msg.center(50))
print(msg.ljust(50))
print(msg.rjust(50))
print(msg.rjust(50,'*'))
print(msg.ljust(50,'*'))
print(msg.center(50,'*'))

LIFE IS BEAUTIFUL
life is beautiful
Life Is Beautiful
Life is beautiful
lIFE IS bEAUTIFUL
life is beautiful
                Life is Beautiful
Life is Beautiful
                                 Life is Beautiful
*********************************Life is Beautiful
Life is Beautiful*********************************
****************Life is Beautiful*****************

In [1]:
msg = msg.lower()

NameError: name 'msg' is not defined

In [2]:
msg

NameError: name 'msg' is not defined

- validation method
    - isalpha()
    - isalnum()
    -isnumeric()
    -isdigit()
    -isspace()
    -isascii()
    -isprintable()
    -isupper()
    -islower()

In [28]:
data = input("enter something")
print(data)
print(data.isalpha())
print(data.isalnum())
print(data.isnumeric())
print(data.isdigit())
print(data.isspace())
print(data.isascii())
print(data.isprintable())
print(data.islower())
print(data.isupper())

apple#123
False
False
False
False
False
True
True
True
False

In [31]:
for i in range(0, 200, 5):
    c = chr(i)
print(f'{i} = {c}, {c.isascii()}')

195 = Ãƒ, False

- utility functions
    - split()
    - join()
    - find()
    - index()
    - replace()
    - count()
    - strip()

In [3]:
sentence = "All the glitter is not gold"
sentence.split()

['All', 'the', 'glitter', 'is', 'not', 'gold']

In [4]:
words = sentence.split()
for word in words:
    print(word)

All
the
glitter
is
not
gold

In [5]:
quote = "Life before Death, Strength before Weakness,Journey before Destination"
quote.split(",")

['Life before Death',
 ' Strength before Weakness',
 'Journey before Destination']

In [6]:
poem = """
Johnny Johnny, Yes Papa
Eating sugar, No Papa
Telling lies, No Papa 
Open your mouth, Ha! Ha! Ha!
""" 
poem.splitlines()

['',
 'Johnny Johnny, Yes Papa',
 'Eating sugar, No Papa',
 'Telling lies, No Papa ',
 'Open your mouth, Ha! Ha! Ha!']

In [8]:
addr = ['c:', 'users', 'tamanna','download', 'file.txt']
print(addr)
full_addr ="/".join(addr)
print(full_addr)

['c:', 'users', 'tamanna', 'download', 'file.txt']
c:/users/tamanna/download/file.txt

Wap to count all even sized words in a string enter by user

In [10]:
sentence = input("enter a sentence")
words = sentence.split()
total = 0
for word in words:
    size = len(word)
    if size % 2 == 0:
        total+=1
print(total)

3

find() and index()

In [15]:
a = 'this is a message'
print(a.find('mess'))
print(a.find('are'))
print(a.find('is'))# start from index 3
# index is same as find but it throws an error if not found
print(a.index('is'))
print(a.index('is', 3))# start from index 3
print(a.index('are'))#error

10
-1
2
2
5

In [19]:
b = a.replace("is", "was")
print(b)
c= b.replace('message','letter').replace('was','is')# chain
print(c)
d = c.replace('t','k',2)# replace only first 2 occurences
print(d)

thwas was a message
this is a letter
khis is a lekter

In [20]:
# replace as remove
data = "he!!!!!llo"
data.replace('!','') # remove all !

'hello'

wap to remove all vowels from a string

In [21]:
string = input("enter sentence")
v = string.replace('a','').replace('e','').replace('i','').replace('0','').replace('u','')
print (v)

ths s  btfl flowr

In [22]:
msg = 'one two three one two'
print(msg.count("o"))
print(msg.count("one"))
print(msg.count("ee"))
print(msg.count("four"))

4
2
1
0

In [23]:
name = 'Tamanna '
print(len(name), name)
clean_name = name.strip()
print(len(clean_name), clean_name)

8 Tamanna
7 Tamanna

'''python
names =[
    ' john',
    ' alex',
    ' jane',
    'alexa ',
    ' jacob',
]
'''
display this data after removing all leading and trailing spaces and making it upper case

In [24]:
names =[' john',' alexa',' jane','alexa ',' jacob']
for n in names:
    clean_data=n.strip()
    a = clean_data.upper()
    print(a)

JOHN
ALEXA
JANE
ALEXA
JACOB